<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="icon" type="image/x-icon" href="/logo/LOGO Favicon 48 x 48-01.ico">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <script src="/js/jquery.quiz-min.js"></script>
</head>

<body>
  <!-- Start Nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3 sticky-top">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="/logo/LOGO%20Web%20220%20x%2060-01%20animate.svg" class="logo" alt="...">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="/#home" aria-current="page">Home</a>
          <a class="nav-item nav-link" href="/banksoal">Bank Soal</a>
          <a class="nav-item nav-link" href="/blog">Blog</a>
          <a class="nav-item nav-link" href="#">Langganan</a>
        </div>
        <!-- Right navigation -->
        <div class="navbar-nav ms-lg-4">
          <a class="nav-item nav-link" href="#">Sign in</a>
        </div>
        <!-- Action -->
        <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
          <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
            Register
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Nav -->




  <div class="homebanner" id="home">
    <div class="container">
      <div class="rowitem">
        <div class="colitem text-light">
          <h1 class="judulutama">Tryout SKB Kementerian Hukum Dan HAM</h1>
          <div id="quiz">
            <div class="timer">
              <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>
            </div>
            <div id="quiz-header"></div>
            <div id="quiz-start-screen"></div>
          </div>
          <button id="quiz-start-btn" onClick="timer.reset()" class="btn btn-light btn-rounded">Mulai Tryout</button>
          <button id="quiz-finish-btn" class="btn btn-light btn-rounded">Finish</button>
        </div>
        <div class="colitem hidemobile">
          <img src="/logo/tryout-01.svg" class="img-fluid" alt="Image">
        </div>
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <!-- CSS Waves from goodkatz (https://codepen.io/goodkatz/pen/LYPGxQz) -->
  <div class="oren">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
  <h1 class="textoren texttengah jarakatas50px">Selamat Datang</h1>
  <div class="container">
    {{- .Content -}}
  </div>

  <footer class="texttengah textoren">
    <hr>
    Copyright © <span id="tahun"></span> | Powered by JAGOBERKARIR

  </footer>

  <script>
    $("#quiz-finish-btn").hide();
    var waktu = 20;
    $('#quiz').quiz({
      //resultsScreen: '#results-screen',
      //counter: false,
      //homeButton: '#custom-home',
      finishButtonText: 'Selesai',
      counterFormat: 'Question %current of %total',
      questions: [
        {
          'q': 'Is jQuery required for this plugin?',
          'options': [
            'Yes',
            'No'
          ],
          'correctIndex': 0,
          'correctResponse': 'Good job, that was obvious.',
          'incorrectResponse': 'Well, if you don\'t include it, your quiz won\'t work'
        },
        {
          'q': 'How do you use it?',
          'options': [
            'Include jQuery, that\'s it!',
            'Include jQuery and the plugin javascript.',
            'Include jQuery, the plugin javascript, the optional plugin css, required markup, and the javascript configuration.'
          ],
          'correctIndex': 2,
          'correctResponse': 'Correct! Sounds more complicated than it really is.',
          'incorrectResponse': 'Come on, it\'s not that easy!'
        },
        {
          'q': 'The plugin can be configured to require a perfect score.',
          'options': [
            'True',
            'False'
          ],
          'correctIndex': 0,
          'correctResponse': 'You\'re a genius! You just set allowIncorrect to true.',
          'incorrectResponse': 'Why you have no faith!? Just set allowIncorrect to true.'
        },
        {
          'q': 'How do you specify the questions and answers?',
          'options': [
            'MySQL database',
            'In the HTML',
            'In the javascript configuration'
          ],
          'correctIndex': 2,
          'correctResponse': 'Correct! Refer to the documentation for the structure.',
          'incorrectResponse': 'Wrong! Do it in the javascript configuration. You might need to read the documentation.'
        }
      ]
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#tahun").text(new Date().getFullYear());
      $("#quiz-start-btn").click(function () {
        $("#quiz-finish-btn").show();
        $("#quiz-start-btn").hide();
      })
    });
  </script>

  <script>
    
    function _timer(callback) {
      var time = 0; //  The default time of the timer
      var mode = 0; //    Mode: count up or count down
      var status = 0; //    Status: timer is running or stoped
      var timer_id; //    This is used by setInterval function
      

      // this will start the timer ex. start the timer with 1 second interval timer.start(1000) 
      this.start = function (interval) {
        interval = (typeof (interval) !== 'undefined') ? interval : 1000;

        if (status == 0) {
          status = 1;
          timer_id = setInterval(function () {
            switch (mode) {
              default:
                if (time) {
                  time--;
                  generateTime();
                  if (typeof (callback) === 'function') callback(time);
                }
                break;

              case 1:
                if (time < 86400) {
                  time++;
                  generateTime();
                  if (typeof (callback) === 'function') callback(time);
                }
                break;
            }
          }, interval);
        }
      }

      this.stop = function () {
        clearInterval(timer_id);
        // if (status == 1) {
        //   status = 0;
        //   clearInterval(timer_id);
        // }
      }

      // Reset the timer to zero or reset it to your own custom time ex. reset to zero second timer.reset(0)
      this.reset = function (sec) {
        sec = (typeof (sec) !== 'undefined') ? sec : waktu;
        time = sec;
        generateTime(time);
        timer.start(1000)
      }

      // This methode will render the time variable to hour:minute:second format
      function generateTime() {
        var second = time % 60;
        var minute = Math.floor(time / 60) % 60;
        var hour = Math.floor(time / 3600) % 60;

        second = (second < 10) ? '0' + second : second;
        minute = (minute < 10) ? '0' + minute : minute;
        hour = (hour < 10) ? '0' + hour : hour;

        $('div.timer span.second').html(second);
        $('div.timer span.minute').html(minute);
        $('div.timer span.hour').html(hour);
      }
    }

    var timer;

    timer = new _timer(
      function (time) {
        if (time == 0) {
          $("#quiz-finish-btn").trigger('click');
        }
      }
    );

  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>