<footer class="texttengah textoren">
    <hr>
        <div class="container">
            <ul class="nav nav-underline" style="width: 70%; margin: auto; justify-content: center;">
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/about/kami">Tentang Kami</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/about/kebijakan-privasi">Kebijakan Privasi</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/about/disclaimer">Disclaimer</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/about/tos">Terms of Service</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/about/kontak-kami">Kontak</a> 
                </li>
            </ul>
        </div>
    Copyright © <span id="tahun"></span> | Powered by JAGOBERKARIR
    <p>.</p>

  </footer>

  <script>
    $(document).ready(function () {
      $("#tahun").text(new Date().getFullYear());
    });
  </script>
<!-- 
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(function(registration) {
                //console.log('Service Worker Registered');
            });
  
        navigator.serviceWorker
            .ready
            .then(function(registration) {
                //console.log('Service Worker Ready');
            });
    }
  </script> -->

  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.js", { scope: "/" })
        .then((registration) => {
          registration.unregister().then((boolean) => {
          });
        })
        .catch((error) => {

        });
        // Befor install prompt start
        window.addEventListener('beforeinstallprompt', event => {
        event.preventDefault();
        var installDiv = document.getElementById('divInstallApp');
        installDiv.innerHTML = '<button id="installApp" class="btn text-light oren" style="border-radius:100%">Install App</button>';
        installDiv.addEventListener('click', () => {
          event.prompt();
          installDiv.innerHTML = ""
        });
      });
      // Befor install prompt end
    }
  </script>