<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3 sticky-top">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/logo/LOGO%20Web%20220%20x%2060-01%20animate.svg" class="logo" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="/#home" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/categories/bank-soal/">Bank Soal</a>
        <a class="nav-item nav-link" href="/categories/blog/">Blog</a>
        <a class="nav-item nav-link" href="/#langganan">Langganan</a>
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <div id="divInstallApp"></div>
        <!-- <a class="nav-item nav-link" href="#">Sign in</a> -->
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <!-- <a href="#" class="btn btn-sm oren w-full w-lg-auto text-light">
          Register
        </a> -->
      </div>
    </div>
  </div>
</nav>
<style>
  /* https://codepen.io/yasmink88/pen/OJpdRqG */
  :root {
    --background: #007af7;
    --white-text: #fff;
    --hover-text: #222;
    --button-background: #fff;
    --button-background-hover: #000;
    --button-text: #007af7;

  }
  .cookie-container {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: #007af7;
    color: #fff;
    position: fixed;
    bottom:0;
    font-size: 1rem;
    gap: 2rem;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;
    z-index: 999999;
  }

  .cookie-container.hide {
    opacity: 0;
    visibility: hidden;
  }

  .cookie-container a {
    color: #fff;
  }

  .cookie-container a:hover {
    color: #222;
  }

  .cookie-container .cookie-text {
    flex: 8 768px;
  }

  .cookie-container .agree {
    flex: 1 150px;
    text-align: center;
  }

  .agree button {
    background: #fff;
    color: #007af7;
    border: none;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
  }

  .agree button:hover {
    background: #000;
      color: #fff;
  }
</style>
<div class="cookie-container hide">
  <p class="cookie-text">
    We use cookies and similar technologies that are necessary to operate the website. Additional cookies are used to perform analysis of website usage. By continuing to use our website, consent to our use of cookies. For more information, please read our <a href="https://jagoberkarir.com/about/kebijakan-privasi/"> Privacy Policy.</a>
  </p>
  <div class="agree">
  <button>Sounds good!</button>
    </div>
</div>
<script>
  const cookieContainer = document.querySelector(".cookie-container");
  const agreeBtn = document.querySelector(".agree button");

  setTimeout(() => {
    cookieContainer.classList.remove("hide");
  }, 1000);

  agreeBtn.addEventListener("click", () => {
    cookieContainer.classList.add("hide");
  });

</script>