<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3 sticky-top">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/logo/LOGO%20Web%20220%20x%2060-01%20animate.svg" class="logo" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="/#home" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/categories/bank-soal/">Bank Soal</a>
        <a class="nav-item nav-link" href="/categories/blog/">Blog</a>
        <a class="nav-item nav-link" href="/skillbooster/list/">SkillBooster</a>
        <a class="nav-item nav-link" href="/#langganan">Langganan</a>
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <div id="divInstallApp"></div>
        <!-- <a class="nav-item nav-link" href="#">Sign in</a> -->
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <!-- <a href="#" class="btn btn-sm oren w-full w-lg-auto text-light">
          Register
        </a> -->
      </div>
    </div>
  </div>
</nav>

<style>
  :root {
    --background: #007af7;
    --white-text: #fff;
    --hover-text: #222;
    --button-background: #fff;
    --button-background-hover: #000;
    --button-text: #007af7;
    --link-color: #333;
    --link-hover-color: #f4623a;
  }

  .navbar {
    font-family: Arial, sans-serif;
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.5s ease, box-shadow 0.3s ease;
  }

  .nav-link {
    color: var(--link-color); 
    transition: color 0.3s ease;
    padding: 8px 12px; 
  }

  .nav-link:hover {
    color: var(--link-hover-color);
  }

  .navbar.scrolled {
    background-color: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .navbar.scrolled .nav-link {
    color: #2dc972; 
  }

  .navbar.scrolled .nav-link:hover {
    color: var(--link-hover-color); 
  }
</style>

<script>
  window.addEventListener('scroll', () => {
    const navbar = document.querySelector('.navbar');
    if (window.scrollY > 0) {
      navbar.classList.add('scrolled');
    } else {
      navbar.classList.remove('scrolled');
    }
  });
</script>