<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3 sticky-top">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/logo/LOGO%20Web%20220%20x%2060-01%20animate.svg" class="logo" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="/#home" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/categories/bank-soal/">Bank Soal</a>
        <a class="nav-item nav-link" href="/categories/blog/">Blog</a>
        <a class="nav-item nav-link" href="/#langganan">Langganan</a>
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>