<!DOCTYPE html>
<html lang="en">

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4844862814263888">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="/logo/LOGO Favicon 48 x 48-01.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css?1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    {{ partial "gtag.html" . }}
  </head>

  <body>
    <!-- Start Nav -->
    {{ partial "navlink.html" . }}
    <!-- End Nav -->




    <div class="homebanner" id="home">
      <div class="container">
        <div class="rowitem">
          <div class="colitem text-light">
            <h1 class="judulutama">{{ .Title }}</h1>
          </div>
          <div class="colitem hidemobile">
            <img src="/logo/artikel-01.svg" class="img-fluid" alt="Image">
          </div>
        </div>
      </div>
    </div>

    <!--Waves Container-->
    <!-- CSS Waves from goodkatz (https://codepen.io/goodkatz/pen/LYPGxQz) -->
    <div class="oren">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->

    <div class="container" id="pembahasan">

      <div class="row" id="cardartikel">



      </div>
    </div>

    {{ partial "footer.html" . }}

    <script>
      
      $(document).ready(function () {
        // document.addEventListener('contextmenu', function(e) {
        //   e.preventDefault();
        // });
      });
      getItemXML('index.xml', setList);

      function setList(json) {
        for (let i = 0; i < json.length; i++) {
          var asc = json.length - (i+1)
          $("#cardartikel").append(`<div class="col-md-4 mb-4">
              <div class="card">
                  <img src="${json[asc].image}" alt="${json[asc].title}">
                  <div class="card-body">
                      <h5 class="card-title">${json[asc].title}</h5>
                      <p class="card-text">${truncate(json[asc].desc)}</p>
                      <a href="${json[asc].link}" class="btn text-light oren">Lihat <i class="bi bi-journal-arrow-up"></i></a>
                  </div>
              </div>
          </div>`)
        }
      }


      function truncate(str, n = 220) {
        return (str.length > n) ? str.slice(0, n - 1) + '&hellip;' : str;
      };

      function getItemXML(url, call) {
        var jsonResult = [];
        $.ajax({
          type: 'GET',
          url: url,
          dataType: 'xml',
          success: function (xml) {
            $(xml).find('item').each(function () {
              var title = $(this).find('title').text();
              var image = $(this).find('image').text();
              var desc = $(this).find('description').text();
              var link = $(this).find('link').text();

              var item = {
                title: title,
                image: image,
                desc: desc,
                link: link
              };
              jsonResult.push(item);
            });
            call(jsonResult);
          },
          error: function (error) {
            console.error('Error reading XML:', error);
          }
        });
      }

    </script>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

  </html>